@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  cursor: url("./assets/Cursor.png"), auto;
}

.dark{
  background-color: rgb(50, 51, 61);
  color: white;
}

.dark form label {
  background-color: rgb(55 63 79 / 96%) !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-Select select{
  padding: 0.81rem;
}

.custom-breadcrumb a{
  font-size: 1.3rem !important;
}
.custom-breadcrumb span{
  font-size: 1.3rem !important;
}
.custom-breadcrumb svg{
  scale: 1.4 !important;
}
.custom-breadcrumb{
  margin: 4px;
  padding: 6px;
}
.custom-breadcrumb :hover{
  color: black;
}